@charset "UTF-8";

/*em HTML é id = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(197, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(73, 100, 100);
}

h1#principal{
    text-align: center;
    background-color: rgb(18, 99, 99);
    color:white;
}

h2{
    color:rgb(18, 99, 99);
}

.basico{
    color:rgb(18, 99, 99);
}

.intermediario{
    color:rgb(152, 167, 20);
}

.avancado{
    color:rgb(129, 38, 15);
}

.destaque{
    background-color:rgba(151, 151, 58, 0.678);
}